$table_head_color:#a0beef;
$nth_color:#bdcbf9;

@media (min-width: 576px) {
  #welcome-h1::before {
    content: "Welcome To My Page\!, My Name is Mohammad Ismail Tirmizi";
  }
}

@media (max-width: 575px) {
  #welcome-h1::after {
    content: "Welcome To Ismail's Page!";
  }
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 50%;

    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    tr:nth-child(even) {background-color: $nth_color;}

    th {
        background-color: $table_head_color;
    }
}

$btn-bkcol: #7783AA;
$btn-bkcol-hov: #8793BA;

.btn-like-link {
    display: block;
    width: 215px;
    background: #7783AA;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}
.btn-like-link:hover {
    color: #abb4d1;
    background: #6574a5;
    text-decoration: none;
}

.specialization {
  color:#4fa586
}

/* Specific to resume.html */
#lol-poster {
  alt: League of Legend Champions;
  width: 100%;
}
