$table_head_color:lightgray;
$nth_color:#a0beef;

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 50%;

    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }

    tr:nth-child(even) {background-color: $nth_color;}

    th {
        background-color: $table_head_color;
    }
}

.specialization {
  color:#4fa586
}

/* Specific to resume.html */
img {
  alt: League of Legend Champions;
  width: 100%;
}
